{% extends '@page-layout' %}

{% block content %}
    {% render '@hero' %}
    {% render '@section' %}
    {% render '@callout--photo' %}
    {% render '@logos-grid' %}
    {% render '@callout' %}
{% endblock content %}
