<footer class="bg-blue-500">
  <div class="max-w-7xl mx-auto py-14 px-4 text-center text-white">
    <p>© 2020 Workflow, Inc. All rights reserved. Powered by <a  class="underline" href="#">YearUp.Org</a></p>
  </div>
</footer>