<div class="bg-lightblue-200">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:py-12 sm:px-5 lg:px-6">
    <div class="text-center">
      <h1 class="mt-1 text-4xl font-semibold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-5xl">Recommended Resources for You.</h1>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Based on your profile responses, these are resources that might be useful to explore.</p>
    </div>
  </div>
</div>