{% extends '@page-layout' %}

{% block content %}
    {% render '@steps' %}
    {% render '@header' %}
    {% render '@results-row' %}
    {% render '@results-row' %}
    {% render '@contact' %}
    {% render '@team' %}
    {% render '@modal' %}
{% endblock content %}