<div class="bg-white">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:py-12 sm:px-5 lg:px-6">
    <div class="text-center">
      <h2 class="mt-1 text-3xl font-semibold text-gray-900 sm:text-2xl sm:tracking-tight lg:text-3xl">Would you like to provide resource to this community?</h2>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">Email any resource you might have to <a href="#">awashabaugh@yearup.com</a></p>
    </div>
  </div>
</div>